<%= form_for(@child) do |f| %>
  <% if @child.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@child.errors.count, "error") %> prohibited this child from being saved:</h2>

      <ul>
      <% @child.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :surname %><br>
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :forename %><br>
    <%= f.text_field :forename %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :in_school %><br>
    <%= f.check_box :in_school %>
  </div>
  <div class="field">
    <%= f.label :in_work %><br>
    <%= f.check_box :in_work %>
  </div>
  <div class="field">
    <%= f.label :parent %><br>
    <%= f.select(:parent_id, Person.all.map { |p| [ "#{p.surname}, #{p.forename}", p.id ] }) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
